# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
ENV/
.venv/

# SQLite database
*.sqlite3
*.db

# Flask cache and instance folders
instance/
*.pyc

# Flask debug logs
*.log

# VSCode / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.cache/
