{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block body %}
<div class="container mt-4">
    <h2 class="text-center text-primary mb-4">Add Parking Lot</h2>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <form method="POST" action="{{url_for('add_parking_lot')}}" >
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.location_name.label(class="form-label") }}
                    {{ form.location_name(class="form-control") }}
                    {% if form.location_name.errors %}
                        <div class="text-danger">{{ form.location_name.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.address.label(class="form-label") }}
                    {{ form.address(class="form-control") }}
                    {% if form.address.errors %}
                        <div class="text-danger">{{ form.address.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.pin_code.label(class="form-label") }}
                    {{ form.pin_code(class="form-control") }}
                    {% if form.pin_code.errors %}
                        <div class="text-danger">{{ form.pin_code.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.total_spots.label(class="form-label") }}
                    {{ form.total_spots(class="form-control") }}
                    {% if form.total_spots.errors %}
                        <div class="text-danger">{{ form.total_spots.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.price_per_hour.label(class="form-label") }}
                    {{ form.price_per_hour(class="form-control") }}
                    {% if form.price_per_hour.errors %}
                        <div class="text-danger">{{ form.price_per_hour.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary">Cancel</a>
                    {{ form.submit(class="btn btn-warning") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

