{% extends 'base.html' %}
{% include 'navbar.html' %}


{% block body %}
<div class="row text-center mt-4">
    <h3 class="text-center text-primary mb-4">Admin Summary</h3>
    <div class="col-md-6">
        <h5>Revenue by Parking Lot</h5>
        {% if pie_chart %}
            <img src="data:image/png;base64,{{ pie_chart }}" class="img-fluid" alt="Revenue Pie Chart">
        {% else %}
            <p class="text-muted">No revenue data to display.</p>
        {% endif %}
    </div>

    <div class="col-md-6">
        <h5>Spot Availability</h5>
        {% if bar_chart %}
            <img src="data:image/png;base64,{{ bar_chart }}" class="img-fluid" alt="Bar Chart">
        {% else %}
            <p class="text-muted">No availability data to display.</p>
        {% endif %}
    </div>

</div>

{% endblock %}

